$main: #48af32;
$main-hover: #48AF32EF;
$secondary: #1297ef;
$error: #e75454;
$warning: #ffa700;
$white: #fff;

:export {
  main: $main;
  mainHover: $main-hover;
  secondary: $secondary;
  error: $error;
  warning: $warning;
  white: $white;
}